.containerHome {
	background-color: #00256c;
	min-height: 625px;;
	
}
.loadingDiv {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#linkDetail {
	text-decoration: none;
}

.cardsHomeDiv {
	max-width: 1366px;;
	
	
}